#map {
  height: 100%;
  width: 100%;
}

.linke-seite {
  height: 100vh;
  width: 20%;
  background-color: #ff6c6c;

  float: left;
}
.rechte-seite {
  height: 50vh;
  width: 80%;
  float: right;
  display: flex;
  flex-wrap: wrap;
}
.yellow-box-1 {
  height: 50px;
  width: 100%;
  background-color: #ffff00;
  margin-top: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.yellow-box-2 {
  height: 50px;
  width: 100%;
  background-color: #ffff00;
  margin-top: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.yellow-box-3 {
  height: 50px;
  width: 20%;
  background-color: #ffff00;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
}
.button-text {
  color: black;

  font-size: 30px;
}
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
.site_content {
  justify-content: row;
}
.input-container {
  background-color: #6ac4d7;
  width: 100%;
  margin: 10px;
  height: calc(100vh - 60px);
  padding: 20px;
}
.form-text {
  margin: 0px;
}

.karte {
  background-color: #add8e6;
  width: 400px;
  height: fit-content;
  padding: 10px;
  margin: 10px;
}
.find-helper {
  background-color: #90ee90;
  width: 250px;
  height: 50px;
  position: absolute;
  right: 50px;
  bottom: 50px;
  text-align: center;
}
